<!DOCTYPE html>
<html>
<head>
	<title>Courses</title>
</head>
<body>
	<h1>Bootcamp Courses</h1>
	<h2>Add a New Course:</h2>
	<form action="/courses/add" method="post">
		Name: <input type="text" name="name" value="Name">
		Description: <textarea name="description"></textarea>
		<input type="submit" name="add" value="Add">
	</form>
	<div>
		<h2>Courses:</h2>
		<table style="width:100%">
			<tr>
				<th>Course Name:</th>
				<th>Description:</th> 
				<th>Date Added:</th>
				<th>Actions:</th>
			</tr>
			<tr>
				<td>{{course_name}}</td>
				<td>{{description}}</td> 
				<td>{{date}}</td>
				<td><a href="/courses/destroy/{{COURSE_ID}}">Remove:</a></td>
			</tr>
		</table>
	</div>
</body>
</html>