<!DOCTYPE html>
<html>
<head>
	<title>Courses</title>
</head>
<body>
	<h1>Bootcamp Courses</h1>
	<h2>Add a New Course:</h2>
	<form action="/courses/add" method="post">
		<div>Name: <input type="text" name="course_name"></div><br>
		<div>Description: <textarea name="description"></textarea></div><br>
		<input type="submit" name="add" value="Add">
	</form>
	<div>
		<h2>Courses:</h2>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<table style="width:100%">
			<tr>
				<th>Course Name:</th>
				<th>Description:</th> 
				<th>Date Added:</th>
				<th>Actions:</th>
			</tr>
			{% if courses %}
				{% for course in courses %}
					<tr>
						<td>{{course.course_name}}</td>
						<td>{{course.description}}</td> 
						<td>{{course.date_added}}</td>
						<td><a href="/courses/destroy/{{course.id}}">Remove</a></td>
					</tr>
				{% endfor %}
			{% endif %}
		</table>
	</div>
</body>
</html>